@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --GrayishBlue: hsl(217, 19%, 35%);
  --DarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue2: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope";
  background-color: var(--LightGrayishBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 327px;
  height: 528px;
  background-color: white;
  border-radius: 9px;
}

.img-con {
  width: 100%;
  height: 200px;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
}
.img-con .imgsrc {
  content: url("../images/drawers.jpg");
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  display: block;
}

.text {
  font-size: 1rem;
  padding: 2rem;
  color: var(--GrayishBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  min-height: auto;
}
.text h3 {
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: 0.25px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
.michelle {
  display: flex;
  width: 170px;
  height: 40px;
  justify-content: space-between;
}

.michelle p {
  text-align: left;
  line-height: 140%;
  letter-spacing: 25%;
}
.michelle p b {
  text-align: left;
  letter-spacing: 0.12%;
}
.michelle img {
  height: 40px;
  border-radius: 50%;
}
.share-btn {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
  background-color: var(--DarkBlue);
}

.share-btn.dark img {
  filter: brightness(0) invert(1); /* turns SVG white */
}

.share-wrapper {
  position: relative;
  display: inline-block;
}

.share-popup {
  position: absolute;
  bottom: 60px; /* popup above button */
  left: -97px;
  background: #48556a;
  padding: 14px 26px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 16px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.25s ease;
}

/* triangle arrow */
.share-popup::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  border-width: 8px 8px 0 8px;
  border-style: solid;
  border-color: #48556a transparent transparent transparent;
}

.share-label {
  color: #b9c1cc;
  letter-spacing: 4px;
  font-size: 0.75rem;
}

/* WHEN POPUP ACTIVE */
.share-wrapper.active .share-popup {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.share-bottom {
  height: 80px;
  width: 100%;
  background-color: var(--GrayishBlue);
  overflow: hidden;
  border-radius: 0 0 9px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.share-bottom.hide {
  display: none;
}
.bottom.hide {
  display: none;
}
@media (min-width: 768px) and (max-width: 1100px) {
  .container {
    width: 608px;
    height: 346px;
    flex-direction: row;
  }
  .img-con {
    height: 346px;
    width: 229px;
    flex-shrink: 0;
    border-radius: 9px 0px 0 9px;
  }
  .img-con .imgsrc {
    content: url("../images/tabletpic.jpg");
  }
  .text {
    flex: 1;
    padding: 32px 40px;
  }
  .share-bottom {
    display: none;
  }
}

@media (min-width: 1100px) {
  .container {
    width: 730px;
    height: 280px;
    flex-direction: row;
  }

  .img-con {
    height: 280px;
    width: 285px;
    flex-shrink: 0;
    border-radius: 9px 0px 0 9px;
  }

  .img-con .imgsrc {
    content: url("../images/tabletpic.jpg");
  }
  .share-bottom {
    display: none;
  }
}
